.timer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25px;
    padding: 25px;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.timer-seconds{
    text-align: center;
    font-size: xx-large;
    margin: 25px 0;
}

.pomodoro{
    background-color: indianred;
}

.shortBreak{
    background-color: darkseagreen;
}

.longBreak{
    background-color: royalblue;
}